<section class="min-h-[80vh] flex justify-center items-center">
    <div class="border-slate-500 rounded-xl shadow-lg flex flex-col items-center px-8 py-10 w-10/12 sm:w-9/12 md:w-4/6 lg:w-[30rem]">
        <span class="text-red-600 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="46" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
        </span>
        <h1 class="text-red-600 text-lg mb-6">Payment Cancelled!</h1>
        <p class="mb-6 text-center">You have just cancelled the payment. Feel free to try again</p>
        <button routerLink="/products" class="bg-main-orange duration-500 text-offwhite rounded-full px-10 py-2 hover:bg-main-orange-hover hover:text-offwhite-hover disabled:bg-main-orange-hover disabled:text-offwhite-hover">Redirect to Shop</button>
    </div>
</section>