<section class="about-us ">
    <div class="text-center text-dark-gray py-32">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <h1 class="text-4xl font-extrabold mb-4">About Us</h1>
            <p class="text-xl">Welcome to ShopFlickr, your one-stop destination for all your grocery needs. We are passionate about providing you with the freshest, highest-quality products at affordable prices, delivered right to your doorstep.</p>
        </div>
    </div>
    <div class="text-offwhite grid grid-cols-2 grid-rows-4  gap-6  md:grid-cols-4 md:grid-rows-2 bg-[url('assets/_images/authBackground.jpg')] py-16 px-7 md:px-16">
        <div class="col-span-2 row-span-2 md:row-span-2 py-11 md:py-auto md:my-auto">
            <h1 class="text-4xl font-extrabold mb-8">Our Mission</h1>
            <p class="font-extralight text-xl">Our mission at ShopFlickr is to simplify your life with an exceptional online grocery shopping experience. We guarantee quality and freshness in every product, offer unmatched convenience with doorstep delivery, strive for affordability through competitive prices and discounts, actively support local communities, and are dedicated to environmental responsibility through sustainable practices, ensuring a better future for all.</p>
        </div>
        <div class="rounded-xl">
            <img class=" rounded-xl object-cover w-[98rem] h-[14rem]" src="./assets/_images/about.jpg" alt="">
        </div>
        <div class="rounded-xl">
            <img class="rounded-xl object-cover w-[98rem] h-[14rem]" src="./assets/_images/about1.jpg" alt="">
        </div>
        <div class="rounded-xl col-span-2">
            <img class="rounded-xl object-cover w-full h-[14rem]" src="./assets/_images/about2.jpg" alt="">
        </div>        
    </div>
</section>