<section class="signup bg-offwhite rounded-2xl py-12 flex items-center justify-center">
    <div class="w-[90%] md:w-4/5">
        <h1 class="text-main-orange text-3xl font-semibold text-center mb-9">Enter new password</h1>
        <div class="text-center text-medium-gray mb-12">
            <p>Your new password must be different from previous used passwords</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-8">
            <app-input placeholder="Password" type="password" [control]="password" label="password">
                <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 448 512">
                    <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                </svg>
            </app-input>
            <app-input placeholder="Confirm Password" type="password" [control]="confirmPassword" label="confirmPassword">
                <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 448 512">
                    <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                </svg>
            </app-input>
            <p class="my-0 ml-[15px] text-red-600" *ngIf="confirmPassword.touched && form?.errors?.['passwordMatchError']">
                Confirm Password and Password doesnot match!
            </p>
            <button [disabled]="form.invalid" type="submit" class="bg-main-orange duration-500 text-offwhite rounded-full px-10 py-2 hover:bg-main-orange-hover hover:text-offwhite-hover w-full">Reset Password</button>
        </form>
        
    </div>
</section>