<section class="forgetPassword bg-offwhite rounded-2xl py-12 flex items-center justify-center">
    <div class="w-[90%] md:w-4/5">
        <h1 class="text-main-orange text-3xl font-semibold text-center mb-9">Reset Password</h1>
        <div class="text-center text-lg text-medium-gray mb-12">
            <p>Enter email associated with your account and we'll send an email with instructions to reset your password.</p>
        </div>
        <form>
            <label for="email" class="mb-8 block relative">
                <input type="text" id="email" placeholder="Email" class="border-medium-gray border-solid border text-dark-gray py-2 px-4 pl-12 rounded-full focus:border-main-orange focus:outline-none focus:ring-1 focus:ring-main-orange w-full">
                <span class="absolute top-[10px] left-4 text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 512 512">
                        <path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/>
                    </svg>
                </span>
            </label>
            <button routerLink="../changePassword" type="button" class="bg-main-orange duration-500 text-offwhite rounded-full px-10 py-2 hover:bg-main-orange-hover hover:text-offwhite-hover w-full">Send</button>
        </form>
    </div>
</section>