@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary: #f95c3c;
    --primary-hover:#bf4830;
    --secondary: #43484c;
    --secondary-hover:#2d3033;
    --tertiary:#979fa7;
    --tertiary-hover:#747a80;
    --white:#fafbfc;
    --white-hover: #cccecf;
}

*{
    margin: 0;
    padding: 0;
}



::selection {
    color: var(--white);
    background: var(--primary);
  }

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--tertiary);
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--secondary);
    height: 100%;
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-search-cancel-button{
    display: none;
}


@layer components{
    .primary-btn{
        background-color: var(--primary);
        color: var(--white);
        border-radius: 999px;
        transition-property: color, background-color;
        transition-duration:0.5s;
        transition-timing-function: linear;
        padding: 8px 40px;
        &:hover{
            background-color: var(--primary-hover);
            color: var(--white-hover);
        }
    }
}
