@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}

::selection {
    color: #fafbfc;
    background: #f95c3c;
  }

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #979fa7;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: #43484c;
    height: 100%;
}

::-webkit-scrollbar-button{
    display: none;
}


