<section class="contactUs flex min-h-[88vh]">
    <section class="w-full md:w-1/2 lg:w-6/12 my-20 mx-7 md:ms-16 md:me-0 lg:mx-16">
        <section class="contact bg-offwhite rounded-2xl py-12 flex items-center justify-center md:justify-start">
            <div class="w-[90%] md:w-4/5">
                <h1 class="text-main-orange text-3xl font-semibold text-center mb-2">Get in Touch</h1>
                <div class="text-center text-xl text-medium-gray mb-12">
                    <p>Feel free to drop us a line below!</p>
                </div>
                <form>
                    <label for="name" class="relative mb-8 block">
                        <input type="text" id="name" placeholder="Your Name" class="border-medium-gray border-solid border text-dark-gray py-2 px-4 pl-12 rounded-full focus:border-main-orange focus:outline-none focus:ring-1 focus:ring-main-orange w-full">
                        <span class="absolute top-2 left-4 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 448 512">
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </span>
                    </label>
                    <label for="email" class="mb-8 block relative">
                        <input type="text" id="email" placeholder="Your Email" class="border-medium-gray border-solid border text-dark-gray py-2 px-4 pl-12 rounded-full focus:border-main-orange focus:outline-none focus:ring-1 focus:ring-main-orange w-full">
                        <span class="absolute top-[10px] left-4 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 512 512">
                                <path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/>
                            </svg>
                        </span>
                    </label>
                    <label for="message" class="mb-8 relative block">
                        <textarea type="text" id="message" placeholder="Type the message here..." class="border-medium-gray resize-none h-32 border-solid border text-dark-gray py-3 px-4 pl-12 rounded-3xl focus:border-main-orange focus:outline-none focus:ring-1 focus:ring-main-orange w-full"></textarea>
                        <span class="absolute top-4 left-4 text-gray-400">
                            <svg xmlns="http://www.w3.org/2000/svg" height="22px" fill="currentColor" viewBox="0 0 512 512">
                                <path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"/>
                            </svg>
                        </span>
                    </label>
                    <button class="bg-main-orange duration-500 text-offwhite rounded-full px-10 py-2 hover:bg-main-orange-hover hover:text-offwhite-hover w-full">Send</button>
                </form>
            </div>
        </section>
    </section>
    <section class="hidden md:block w-full md:w-1/2 lg:w-5/12 my-20 mx-7 md:me-16 md:ms-0 lg:mx-16">
        <section class="info h-full rounded-2xl bg-dark-gray flex items-center justify-center">
            <div class="w-[90%] md:w-4/5">
                <h1 class="text-offwhite text-3xl font-semibold text-center mb-12">Contact Us</h1>
                <div class="text-xl text-medium-gray mb-12 flex">
                    <span class="text-main-orange mr-8">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" fill="currentColor" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                    </span>
                    <p class="font-poppins font-light">23 Avenue de Paris 75012 Paris</p>
                </div>
                <div class="text-xl text-medium-gray mb-12 flex">
                    <span class="text-main-orange mr-8">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" fill="currentColor" viewBox="0 0 512 512">
                            <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                        </svg>
                    </span>
                    <p class="font-poppins font-light">shopflicker@test.com</p>
                </div>
                <div class="text-xl text-medium-gray mb-12 flex">
                    <span class="text-main-orange mr-8">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" fill="currentColor" viewBox="0 0 512 512">
                            <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                        </svg>
                    </span>
                    <p class="font-poppins font-light">+33619530144</p>
                </div>
            </div>
        </section>
    </section>
</section>